<template>
  <div :class="'alert alert-' + status">
      <h2>{{ message.text }}</h2>
      <hr>
      <button class="btn btn-primary" @click="$emit('onNext')">
          Продолжить
      </button>
  </div>
</template>

<script>
    export default {
        props: ['message', 'status']
    }
</script>

<style scoped>
    .alert {
        text-align: center;
    }

    h2, .btn {
        margin: 20px 0;
    }
</style>
