<template>
    <div class="alert alert-secondary">
        <h1>{{ x }} + {{ y }} = ?</h1>
        <hr>
        <div class="buttons">
            <button class="btn btn-success" v-for="number in answer"
                                            @click="onAnswer(number)"
            >
                {{ number }}
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['min', 'max', 'resolution'],
        data() {
            return {
                x: matRandom(this.min, this.max),
                y: matRandom(this.min, this.max)
            }
        },
        computed: {
            good() {
                return this.x + this.y;
            },
            answer() {
                var res = [this.good];

                while(res.length < 4) {
                    var num = matRandom(this.good - this.resolution, this.good + this.resolution);

                    if(res.indexOf(num) === -1) {
                        res.push(num);
                    }
                }

                return res.sort(function() {
                    return Math.random() > 0.5;
                });
            }
        },
        methods: {
            onAnswer(num) {
                if (num == this.good) {
                    this.$emit('success')
                } else {
                    this.$emit('error', `${this.x} + ${this.y} = ${this.good}`)
                }
            }
        }
    }

    function matRandom(min, max) {
        let diff = max - min;

        return Math.floor(Math.random() * (diff + 1)) + min;
    }
</script>

<style scoped>
    .buttons {
        display: flex;
        justify-content: space-around;
    }

    h1, .btn {
        margin: 20px 0;
    }
</style>