<template>
  <div class="alert alert-success">
    <h1>Ваши результаты:</h1>
    <h3>Угадано: {{ success }}</h3>
    <h3>Ошибок: {{ errors }}</h3>
    <hr>
    <button class="btn btn-primary" @click="$emit('repeat')">
        Повторить
    </button>
    <button class="btn btn-primary" @click="$emit('nextLevel')">
        Следующий уровень
    </button>
  </div>
</template>

<script>
export default {
  props: ['success', 'errors']
}
</script>

<style scoped>
    .alert {
        padding: 20px;
    }

    h1 {
        margin: 20px 0;
    }

    h3 {
        margin: 5px 0;
    }
</style>
