<template>
    <div class="alert alert-secondary">
        <h3>Вы готовы?</h3>  
        <button class="btn btn-success" @click="$emit('onStart')"
        >
            Начать
        </button>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
    .alert {
        padding: 30px 0;
        text-align: center;
    }

    .btn {
        margin-top: 20px;
    }
</style>
