<template>
  <div>
    <h1>Тренинг по математике. Уровень сложности {{ level }}</h1>
    <hr>
    <div class="progress-state">
      <h5>{{ doneQuest }} / {{ maxQuest }}</h5>
    </div>
    <div class="progress">
      <div class="progress-bar bg-success" :style="progressBar"></div>
    </div>
    <transition name="flip" mode="out-in">
      <app-start-screen v-if="state == 'start'"
                        @onStart="onStart"
      >
      </app-start-screen>
      <app-question v-else-if="state == 'question'"
                    @success="onMessageSuccess"
                    @error="onMessageError"
                    :min="min"
                    :max="max"
                    :resolution="resolution"
      >
      </app-question>
      <app-message v-else-if="state == 'message'"
                   :message="message"
                   :status="status"
                   @onNext="onNext"
      >
      </app-message>
      <app-result-screen v-else-if="state == 'result'"
                         :success="success"
                         :errors="errors"
                         @repeat="repeat"
                         @nextLevel="nextLevel"  
      ></app-result-screen>
      <div v-else>State not Found :(</div>
    </transition>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        min: 40,
        max: 60,
        status: '', 
        state: 'start',
        message: {
          type: '',
          text: ''
        },
        success: 0,
        errors: 0,
        maxQuest: 3,
        level: 1,
        resolution: 5
      }
    },
    computed: {
      doneQuest() {
        return this.success + this.errors;
      },
      progressBar() {
        return {
          width: (this.doneQuest / this.maxQuest * 100) + "%"
        }
      }
    },
    methods: {
      onStart() {
        this.state = 'question'
      },
      onMessageSuccess() {
        this.state = 'message';
        this.status = 'success';
        this.message.text = 'Отлично!';
        this.success++;
      },
      onMessageError(msg) {
        this.state = 'message';
        this.status = 'warning';
        this.message.text = msg;
        this.errors++;
      },
      onNext() {
        if(this.doneQuest < this.maxQuest){
          this.state = 'question';
        }else{
          this.state = 'result';
        }
      },
      repeat() {
        this.success = 0;
        this.errors = 0;
        this.state = 'question';
      },
      nextLevel() {
        this.success = 0;
        this.errors = 0;
        this.level++;
        this.min += 100;
        this.max += 170;
        this.resolution += 15;
        this.maxQuest += 3;
        this.state = 'question';
      } 
    }
  }
</script>

<style scoped>

  h1 {
    margin: 20px 0;
  }

  .flip-enter-active {
    animation: flipInX .3s linear;
  }

  .flip-leave-active {
    animation: flipInX .3s reverse;
  }

  @keyframes flipInX {
    from {
      transform: rotateX(90deg);
    }

    to {
      transform: rotateX(0deg);
    }
  }

  .progress {
    margin-bottom: 15px;
  }

  .progress-state {
    text-align: center
  }
</style>
